/* Vista previa */

.preview {
 padding: 50px 20px;
 text-align: center;
}

.preview-box {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 20px;
}

.preview-box img {
 max-width: 401px;
 border-radius: 8px;
}

.preview-info {
 max-width: 400px;
 text-align: left;
}

.preview-info .precio {
 font-size: 20px;
 color: #0077ff;
 font-weight: bold;
 margin: 10px 0;
}



/* Formulario de pago */

.pago {
 padding: 50px 20px;
 text-align: center;
}

.form-pago {
 max-width: 400px;
 margin: auto;
 display: flex;
 flex-direction: column;
 gap: 15px;
}

.form-pago input {
 padding: 10px;
 border: 1px solid #ddd;
 border-radius: 6px;
}

.form-pago button {
 background: #0077ff;
 color: #fff;
 border: none;
 padding: 12px;
 border-radius: 6px;
 cursor: pointer;
}

.form-pago button:hover {
 background: #0056b3;
}